[InputFiles]

# The inverted index to be used to build the document-term matrox.
LEIA = ../inverted_index/output/output.csv

[OutputFiles]

# The output file where the document-term matrix will be written in CSV form.
ESCREVA = output/output.csv

[Params]

# The weighting function to be used for scoring. Only 'tf-idf' is supported currently.
WEIGHT_FUNCTION = tf-idf

